<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="QuanLyVatTuCuaXiNghiepMayEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGUYEN-HUY\SQLEXPRESS;initial catalog=QuanLyVatTuCuaXiNghiepMay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			providerName="System.Data.EntityClient" />-->
		<add name="QuanLyVatTuCuaXiNghiepMayConnectionString" connectionString="XpoProvider=MSSqlServer;data source=(local)\SQLEXPRESS;integrated security=SSPI;initial catalog=QuanLyVatTuCuaXiNghiepMay" />
		<!--<add name="QuanLyVatTuCuaXiNghiepMayEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=QuanLyVatTuCuaXiNghiepMay;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="QuanLyVatTuCuaXiNghiepMayEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=QuanLyVatTuCuaXiNghiepMay;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>